/* CSS declarations go here */
h1 {
    text-align: center;
}

.login {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.glyphicon.disabled {
  opacity:0.5;
  filter:alpha(opacity=50); /* For IE8 and earlier */
}

.centered {
    text-align: center;
}

