<template name="summary">
  <div class="row">
    <div class="col-md-1"></div>
    <div class= "col-md-10">
      {{> navbar}}
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <th>Subject</th>
            <th>Obs.</th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
          </thead>
          <tbody>
            {{#each observations}}
            <tr>
              <td>{{subject}}</td>
              <td>{{count}}</td>
              <td>{{gradesPct.O}}%</td>
              <td>{{gradesPct.G}}%</td>
              <td>{{gradesPct.RI}}%</td>
              <td>{{gradesPct.I}}%</td>
            </tr>
            {{/each}}

          </tbody>
        </table>
      </div><!-- /table-responsive -->
    </div><!-- /col-md-10 -->
  </div><!-- /row -->
</template>

<template name="analysis">
  <td>{{subject}}</td>
  <td>{{count}}</td>
  <td>{{gradesPct.O}}%</td>
  <td>{{gradesPct.G}}%</td>
  <td>{{gradesPct.RI}}%</td>
  <td>{{gradesPct.I}}%</td>
</template>