<template name="login">
	<h1>Welcome to Lesson Observation Recorder</h1>
	<div class="panel panel-primary login">
		<div class="panel-heading">
			<h3 class="panel-title">Login</h3>
		</div>
		<div class="panel-body">
			<form class="login">
				<div class="form-group">
					<label for="username">Username:</label>
					<input type="text" class="form-control" name="username" placeholder="Enter username" required />
				</div>
				<div class="form-group">
					<label for="password">Password:</label>
					<input type="password" class="form-control" name="password" placeholder="Enter password" required />
				</div>
				<div id="hider" class="hidden">
					<div class="alert alert-danger" role="alert">
						Username and password do not match any accounts. Please try again.
					</div>
				</div>
				<input type="submit" value="Login"/>
			</form>
		</div>
	</div>
</template>

<template name="addUser">
	{{> navbar}}
	{{> addedUserModal}}
	<h1>Add New User</h1>
	<div class="panel panel-primary login">
		<div class="panel-heading">
			<h3 class="panel-title">Create User</h3>
		</div>
		<div class="panel-body">
			<form name="createUser">
				<div class="form-group">
					<label for="username">Username:</label>
					<input type="text" class="form-control" id="username" name="username" placeholder="Enter username" required />
				</div>
				<div class="form-group">
					<label for="password">Password:</label>
					<input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required />
				</div>
				{{> usernameExists}}
				<input type="submit" value="Create"/>
			</form>
		</div>
	</div>
</template>

<template name="addedUserModal">
	<div class="modal fade" id="addedUserModal" tabindex="-1" role="dialog" aria-labelledby="addedUserModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="close">
						<span aria-hidden=true>&times;</span>
					</button>
					<h4 class="modal-title" id="addedUserModalLabel"> New User Created</h4>
				</div><!-- /modal-header -->
				<div class="modal-body">
					<p> A new user has been created:</p>
				</div><!-- /modal-body -->
			</div><!-- /modal-content -->
		</div><!-- /modal-dialog -->
	</div><!-- /modal-fade -->
</template>

<template name="usernameExists">
	<div id="error403" class="hidden">
		<div class="alert alert-danger" role="alert">
			{{errorMessage}}
		</div>
	</div>
</template>

<template name='changePwd'>
  	<h1>Welcome to Lesson Observation Recorder</h1>
	<div class="panel panel-primary login">
		<div class="panel-heading">
			<h3 class="panel-title">Change Password</h3>
		</div>
		<div class="panel-body">
			<form name="changePwd">
				<div class="form-group">
					<label for="currentPwd">Current Password:</label>
					<input type="password" class="form-control" id="current" name="current" placeholder="Enter current password" required />
				</div>
				<div class="form-group">
					<label for="newPassword1">New Password:</label>
					<input type="password" class="form-control" id="newPassword1" name="new1" placeholder="Enter new password .." required />
				</div>
				<div class="form-group">
					<label for="newPassword2">Re-enter new password:</label>
					<input type="password" class="form-control" id="newPassword2" name="new2" placeholder="Enter new password .." required />
				</div>
				<div>
					<input type="submit"  class="form-control" id="submitBtn" value="Change" name="Change" placeholder="Enter new password again .." required/>
					<div id="hider" class="hidden">
						<div class="alert alert-danger" role="alert">
							<span id="noPwdMatch" class="hidden">
								<strong>Error!</strong> Passwords do not match. Please try again.
							</span>
							<span id="incorrectPwd" class="hidden">
								<strong>Error!</strong> Incorrect Password. Please try again.
							</span>
							<span id="noChange" class="hidden">
								<strong>Error!</strong> Your new password cannot be the same as the old one.
							</span>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</template>
