<template name="login">
	<h1>Welcome to Lesson Observation Recorder</h1>
	<div class="panel panel-primary login">
		<div class="panel-heading">
			<h3 class="panel-title">Login</h3>
		</div>
		<div class="panel-body">
			<form class="login">
				<div class="form-group">
					<label for="username">Username:</label>
					<input type="text" class="form-control" name="username" placeholder="Enter username" required />
				</div>
				<div class="form-group">
					<label for="password">Password:</label>
					<input type="password" class="form-control" name="password" placeholder="Enter password" required />
				</div>
				<div id="hider" class="hidden">
					<div class="alert alert-danger" role="alert">
						Username and password do not match any accounts. Please try again.
					</div>
				</div>
				<input type="submit" value="Login"/>
			</form>
		</div>
	</div>
</template>

<template name="createUser">
	<h1>Welcome to Lesson Observation Recorder</h1>
	<div class="panel panel-primary login">
		<div class="panel-heading">
			<h3 class="panel-title">Create User</h3>
		</div>
		<div class="panel-body">
			<form name="createUser">
				<div class="form-group">
					<label for="username">Username:</label>
					<input type="text" class="form-control" id="username" name="username" placeholder="Enter username" required />
				</div>
				<div class="form-group">
					<label for="password">Password:</label>
					<input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required />
				</div>
				<input type="submit" value="Create"/>
			</form>
		</div>
	</div>
</template>

<template name='changePwd'>
  	<h1>Welcome to Lesson Observation Recorder</h1>
	<div class="panel panel-primary login">
		<div class="panel-heading">
			<h3 class="panel-title">Change Password</h3>
		</div>
		<div class="panel-body">
			<form name="changePwd">
				<div class="form-group">
					<label for="currentPwd">Current Password:</label>
					<input type="password" class="form-control" id="current" name="current" placeholder="Enter current password" required />
				</div>
				<div class="form-group">
					<label for="newPassword">Password:</label>
					<input type="password" class="form-control" id="new1" name="new1" placeholder="Enter new password" required />
				</div>
				<input type="submit" value="Create"/>
			</form>
		</div>
	</div>
</template>