<template name="teacherObservation">
  <div class="container-fluid">
    {{> navbar}}
    {{#each teacher}}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Add Lesson Observation : {{name}} : {{_id}}
          </h3>
        </div>
        <div class="panel-body">
          <form name="obs" class="form-inline">
            <div class="form-group">
              <label for="obsDate">Observation date</label>
              <input type="date" name="obsDate" id="obsDate" class="form-control" required />
            </div>
            <div class="form-group">
              <label for="observer">Observer(s)</label>
              <input type="text" name="observer" id="observer" class="form-control" placeholder="Enter code(s) for observer(s)" />
            </div>
            <div class="form-group">
              <label for="subject">Choose subject</label>
              <select id="subject" name="subject" class="form-control">
                {{#each subjects}}
                {{> subject_name}}
                {{/each}}
              </select>
            </div>
            <div class="form-group">
              <label for="yearGroup">Choose Year Group</label>
              <input class="form-control" type="number" id="yearGroup" name="yearGroup" min=7 max=13 value="7"/>
            </div>
            <div class="form-group">
              <label for="grade">Choose Grade</label>
              <select id="gradeSelect" name="gradeSelect" class="form-control"></select>
            </div>
            <input type="submit" name="Save" class="form-control"/>
          </form>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-header">
          <h3 class="panel-title">
            Lesson Observations for {{name}} : {{_id}}
          </h3>
        </div>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <td>Date</td>
                <td>Observer(s)</td>
                <td>Subject</td>
                <td>Year Group</td>
                <td>Grade</td>
              </tr>
            </thead>
            <tbody>
              {{#each observations}}
                {{> observation}}
              {{/each}}
            </tbody>
          </table>
        </div>
    </div>
  {{/each }}
  </div>
</template>

<template name="subject_name">
    <option value={{ _id }} > {{ _id }} </option>
</template>

<template name="observation">
  <tr>
    <td>{{date}}</td>
    <td>{{observer}}</td>
    <td>{{subject}}</td>
    <td>{{yearGroup}}</td>
    <td>{{grade}}</td>
  </tr>
</template>